{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Projects{% endblock %}

{% block content %}

  {% set projects = cms.projectsorder.projects_order %}

  <section id="projects-introduction" class="bg-light block half-lax crop">

      {% include "templates/partials/map.html" %}

  </section>


  <section id="projects" class="bg-white mb6" aside-enter>
  <div class="container-fluid">
  <div class="row">
      
      <div id="sidebar"  class="col-sm-2">
      {% set page = "projects" %}
      {% include "templates/partials/aside.html" %}
      </div>
      
      <div class="col-sm-9">
      <ul id="projects-list" class="">
        
        {% for project in projects %}

        <li id="project-{{ project.shortname|lower|replace(' ', '-', 'g') }}" class="project-tint project-tile col-xs-offset-1 col-xs-10 col-sm-5 col-sm-offset-1 mb4" data-publish-date="{{ project.publish_date }}" data-sort-value="{% for value in merge( project.topics, project.region ) %}{{ value.name|lower }} {% endfor %}"><a href="{{ url( project ) }}">
          <figure class=" mb2">
            <img class="project-tile-image" src="{{ project.images|first|imageCrop(500, 350) }}" />
          </figure>
          <h3 class="title project-tile-title">{{ project.name }}</h3>
          <p class="mb2 hidden-xs">{{ project.summary }}</p>
          <hr class="hr-light mb0">
          {% if ( project.topics )%}
          <ul class="project-tile-topics">
            
            {% for topic in project.topics %}
              
              <li class="inline sidebar-link h6">
              <a class="link" href="#projects" data-sort-key="{{topic.name|lower}}">
                {{ topic.name }}{% if ( loop.index < project.topics|size ) %}, {% endif %}
              </a>
              </li>

            {% endfor %}

          </ul>
          {% endif %}
       </a></li>

        {% endfor %}
        </div>
      </ul>
      </div>
    </div>
    </div>
  </section>

{% set returnTo = {to: "Home", url: "/" } %}
{% include 'templates/partials/prefooter.html' %}


{% endblock %}
