{% import "templates/partials/project-card.html" as p %}

{% extends "templates/partials/base.html" %}


{% block title %}{% parent %} - Projects{% endblock %}

{% block content %}

{% set projects = cms.projectsorder.projects_order %}

<section id="projects-introduction" class="bg-light block half-lax crop">

    {% include "templates/partials/map.html" %}

</section>

<section id="projects" class="bg-white mb6" aside-enter>
    <div class="container-fluid">
        <div class="row">

            <div id="sidebar"  class="col-sm-2">
                {% set page = "projects" %}
                {% include "templates/partials/aside.html" %}
            </div>

            <div class="col-sm-9">
                <div class="col-sm-offset-1 col-xs-11 mb2" >
                    <h4 class="brand bold">Ongoing Projects</h4>
                    <div class="projects-rule"></div>
                </div>
                <ul id="ongoing-projects-list" class="">

                    {% for project in projects|exclude('ongoing', false) %}

                        {{ p.project( project ) }}

                    {% endfor %}

                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-9">
                <div class="col-sm-offset-1 col-xs-11 mb2" >
                    <h4 class="brand bold">Completed Projects</h4>
                    <div class="projects-rule"></div>
                </div>
                <ul id="completed-projects-list" class="">

                    {% for project in projects|where('ongoing', false) %}

                        {{ p.project( project ) }}

                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>

{% set returnTo = {to: "Home", url: "/", aside: true } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
