<aside class="hidden-xs page-{{ page }}" dir="rtl">
    <div dir="ltr">

        {% if page == "about" %}

            {% include "templates/partials/asides/aside-about.html" %}

        {% elseif page == "projects" %}

            {% include "templates/partials/asides/aside-projects.html" %}

        {% elseif page == "project" %}

            {% include "templates/partials/asides/aside-project.html" %}

        {% elseif page == "news" %}

            {% include "templates/partials/asides/aside-news.html" %}

        {% elseif page == "news-item" %}

            {% include "templates/partials/asides/aside-news-item.html" %}

        {% elseif page == "output" %}

            {% include "templates/partials/asides/aside-output.html" %}

        {% elseif page == "output-item" %}

            {% include "templates/partials/asides/aside-output-item.html" %}

        {% elseif page == "person" %}

            {% include "templates/partials/asides/aside-person.html" %}

        {% else %}

            {% include "templates/partials/asides/aside-error.html" %}

        {% endif %}

    </div>
</aside>
