{% macro filter_menu( label, taxonomy, test_slug ) %}
    <div class="filter-module mb1">

        <div class="filter-taxonomy-label mb1">
            <h5 class="uppercase bold brand">Filter by {{ label }}</h5>
        </div>

        <ul class="filter-menu">
            <li class="filter-button sort-key active" data-sort-key=" ">
                    All
            </li>

            {% for term in taxonomy|sort('name') %}
                {% if term[ test_slug ] && term[ test_slug ].length > 0 %}

                <li class="filter-button sort-key" data-sort-key="{{ term.name|lower|replace(' ', '-', 'g') }}">
                        {{ term.name }}
                </li>

                {% endif %}
            {% endfor %}

        </ul>

    </div>
{% endmacro %}
