{% set length = 5 %}

<footer>
	<div class="container-fluid">

	<div class="row bg-light padded">
		<div class="col-xs-4 col-sm-offset-4 col-sm-2">
			<h4 class="bold mb2"><a class="sync" href="/about">About</a></h4>
			<ul>
				<li><h5><a class="sync" href="/about#what-we-do">What We Do</a></h5></li>
				<li><h5><a class="sync" href="/about#our-team">Our Team</a></h5></li>
				<li><h5><a class="sync" href="/about#collaborators">Collaborators</a></h5></li>
				<li><h5><a class="sync" href="/about#sponsors">Sponsors</a></h5></li>
			</ul>
		</div>
		<div class="col-xs-4 col-sm-3">
			<h4 class="bold mb2"><a class="sync" href="/projects">Projects</a></h4>
			<ul>
			{% for project in cms.projects|slice(0,length) %}
				<li><h5><a class="sync {% if  ( getCurrentUrl() == url( project ) ) %} active {% endif %}" href="{{ url( project ) }}">{{ project.shortname }}</a></h5></li>
			{% endfor %}
			</ul>
		</div>
		<div class="col-xs-4 col-sm-3">
			<h4 class="bold mb2"><a class="sync" href="/news">News</a></h4>
			<ul>
			{% for news in cms.news|slice(0,length) %}
				<li><h5><a class="sync {% if  ( getCurrentUrl() == url( news ) ) %} active{% endif %}" href="{{ url( news ) }}">{{ news.name }}</a></h5></li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="row bg-dark padded">
			<div class="col-xs-12 col-sm-offset-1 col-sm-3 hidden-xs"><a href="/"><span class="white">MIT GOV/LAB</span></a></div>
			<div class="col-xs-6 col-sm-4 white">
				<address id="office-address" class="mt1">
					<h5 class="bold uppercase mb2"><span class="underline">Visit Us</span></h5>
					<h5>30 Wadsworth Street</h5>
					<h5>Building E53-430</h5>
					<h5>Cambridge, MA 02142</h5>
				</address>
			</div>
			<div class="col-xs-6 col-sm-4 white">
				<address id="mailing-address" class="mt1">
					<h5 class="bold uppercase mb2"><span class="underline">Send Us Mail</span></h5>
					<h5>77 Massachusetts Avenue</h5>
					<h5>Building E53-430</h5>
					<h5>Cambridge, MA 02139</h5>
				</address>	
			</div>
	</div>

	</div>
</footer>