{% macro project( item ) %}

<li id="project-{{ item.shortname|lower|replace(' ', '-', 'g') }}"
    class=" grid-tile col-xs-offset-1 col-xs-10 col-sm-6 col-lg-4 col-xs-offset-0 mb2"
    data-publish-date="{{ item.publish_date }}"
    data-sort-value="{% for value in merge( item.topics, item.region ) %}{{ value.name|lower|replace(' ', '-', 'g') }} {% endfor %}">

    <a href="{{ url( item ) }}">
        <div class="project-tile-wrapper card-wrapper research-wrapper" style="background: url({{ item.images|first|imageSize(750,750)}}); background-size:cover; background-position:center center;">
            <!-- <img class="project-tile-image card-background-image" src="{{ item.images|first|imageCrop(500, 350) }}" /> -->

            <div class="project-tile-overlay card-tile-overlay research-tile-overlay p2">
                <div class="">
                    <h6 class="card-content-type"><span class="research-label uppercase white bold">Research</span></h6>
                </div>
                <div class="project-tile-title">
                    <h3 class="project-tile-title-large hidden-lg">{{ item.name }}</h3>
                    <h4 class="project-tile-title-large visible-lg hidden-md hidden-sm hidden-xs">{{ item.name }}</h4>
                </div>
                <h6 class="project-tile-topics white bold">
                    {% for topic in item.topics %}
                        <span class="white">{{ topic.name }}</span>{% if !loop.last %}, {% endif %}
                    {% endfor %}
                </h6>
            </div>
        </div>
    </a>

</li>

{% endmacro %}



{% macro result( item ) %}

<li id="result-{{ item.shortname|lower|replace(' ', '-', 'g') }}"
    class=" grid-tile col-xs-offset-1 col-xs-10 col-sm-6 col-lg-4 col-xs-offset-0 mb2"
    data-publish-date="{{ item.publish_date }}"
    data-sort-value="{% for value in merge( item.topics, item.region ) %}{{ value.name|lower|replace(' ', '-', 'g') }} {% endfor %}">

    <a href="{{ url( item ) }}">
        <div class="project-tile-wrapper card-wrapper results-wrapper" style="background: url({{ item.cover_image|imageSize(750,750)}}); background-size:cover; background-position:center center;">
            <!-- <img class="project-tile-image card-background-image" src="{{ item.images|first|imageCrop(500, 350) }}" /> -->

            <div class="project-tile-overlay card-tile-overlay result-tile-overlay p2">
                <div class="">
                    <h6 class="card-content-type"><span class="results-label uppercase white bold">{{ item.output_type.name }}</span></h6>
                </div>
                <div class="project-tile-title">
                    <h5 class="project-tile-title-large">{{ item.name }}</h5>
                </div>
                <h6 class="project-tile-topics white bold">
                    <span class="white">{{ item.publication_date|date('F Y') }}</span> /
                    {% for author in item.authors %}
                        <span class="white">{{ author.name }}</span>{% if !loop.last %}, {% endif %}
                    {% endfor %}
                </h6>
            </div>
        </div>
    </a>

</li>

{% endmacro %}
