<header id="header" class="padded">
	<div class="container">
	<div class="row">
		<div id="gov-lab-logo" class="col-xs-6 col-sm-4">
			<a href="/"><span class="mit-gov-lab">MIT GOV/LAB</span></a>
		</div>
		<nav id="nav">
			<a class="col-sm-2 bold uppercase centered hidden-xs {% if ( getCurrentUrl() == url( 'about' ) ) %}active{% endif %}" href="/about">About</a> 
			<a class="col-sm-2 bold uppercase centered hidden-xs {% if ( getCurrentUrl() == url( 'projects' ) ) %}active{% endif %}" href="/projects">Projects</a>
			<a class="col-sm-2 bold uppercase centered hidden-xs {% if ( getCurrentUrl() == url( 'news' ) ) %}active{% endif %}" href="/news">News</a>

			<a class="col-xs-6 bold uppercase centered col-sm-2" href="#">Menu</a>
		</nav>
		<div id="mit-logo" class="col-sm-2 centered hidden">
			<span class="mit">MIT</span>
		</div>
	</div>
	</div>
</header>












<!--<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>-->
