{% import "templates/partials/row-cards.html" as cards %}
{% import "templates/partials/grid-cards.html" as grid %}

{% set home_image_width = 500 %}
{% set home_image_height = 350 %}

{% macro contentoverview() %}

<section id="home-content-overview" class="bg-light pt1 pb1">
    <div class="container block">
        <div class="row centered">
            <div class="col-xs-4">
                <h2 class="pictogram h1 brand">ù</h2>
                <h3 class="bold dark tagline mb1"><a class="u0 link dark" href="#home-content-updates">{{ news_name }} <span class="pictogram">ﬁ</span></a></h3>
                <p class="mb1 hidden">Stay up to date with our latest work, and find opportunities to connect!</p>
            </div>
            <div class="col-xs-4">
                <h2 class="pictogram h1 brand"></h2>
                <h3 class="bold dark tagline mb1"><a class="u0 link dark" href="#home-content-research">{{ projects_name }} <span class="pictogram">ﬁ</span></a></h3>
                <p class="mb1 hidden">We are committed to applied research, building partnerships across MIT and beyond.</p>
            </div>
            <div class="col-xs-4">
                <h2 class="pictogram h1 brand">7</h2>
                <h3 class="bold dark tagline mb1"><a class="u0 link dark" href="#home-content-results">{{ output_name }} <span class="pictogram">ﬁ</span></a></h3>
                <p class="mb1 hidden">We seek to pioneer new theories and define new research agendas.</p>
            </div>
        </div>
    </div>
</section>

{% endmacro %}

{% macro researchsection( introduction, projects ) %}

<section id="home-content-research" class="bg-white padded">
<div class="container block">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="row">
                <div class="home-content-guidepost col-sm-12 col-lg-4 mb2">
                    <div class="">
                            <h3 class="bold mb1 ">{{ introduction }}</h3>
                            <a class="uppercase sync" href="/projects">Explore our research</a>
                    </div>
                </div>
                {% for res in projects %}
                    {{ grid.research( res ) }}
                {% endfor %}
            </div>
    </div>
    </div>
</div>
</section>

{% endmacro %}


{% macro resultssection( introduction, results ) %}
    <section id="home-content-results" class="bg-white padded">
    <div class="container block">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row">
                    <div class="home-content-guidepost col-sm-12 col-lg-4 mb2">
                        <div class="">
                                <h3 class="bold mb1">{{ introduction }}</h3>
                                <a class="uppercase sync" href="/output">Read our {{ output_name }}</a>
                        </div>
                    </div>
                    {% for res in results %}
                        {{ grid.result( res ) }}
                    {% endfor %}
                </div>
        </div>
        </div>
    </div>
    </section>
{% endmacro %}

{% macro updatessection( introduction, updates ) %}
<section id="home-content-updates" class="home-content-updates bg-white padded">
    <div class="container block">
    <div class="col-sm-offset-1 col-sm-10">
    <div class="row">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4 home-content-guidepost mb1">
                <div class="">
                    <h1 class="bold mb1">{{ introduction }}</h1>
                    <a class="uppercase sync" href="/news">Follow our updates</a>
                </div>
            </div>

            {% for upd in updates %}

                {{ grid.update( upd ) }}

            {% endfor %}

    </div>
    </div>
    </div>
</section>

{% endmacro %}


{% macro homecontentdivider( color, classes ) %}

    <section class="divider {{ color }}">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-5 col-sm-2 {{ classes }}">
                <div class="projects-rule"></div>
            </div>
        </div>
    </section>

{% endmacro %}
