{% macro header( type, title, image, intro, summary ) %}

    <section id="{{ type }}-introduction" class="bg-light block">

        <div class="container block">

            <div id="{{ type }}-header-image" class="header-box row">
                 <div class="block-background header-height" style="background: url({{ image|imageSize(2560,640)}}); background-size:cover; background-position:center center;"> </div>

                    <div class="relative header-height">

                        <div class="header-overlay-dark">
                        </div>

                        <div class="col-xs-10 col-xs-offset-1 vertical-center centered">
                            <h1 class="mt0 white">{{ title }}</h1>
                        </div>

                        {% if image.caption %}
                        <div class="col-xs-5 col-xs-offset-6 relative-bottom righted">
                            <p class="mt0 white caption"><span>{{ image.caption }}</span></p>
                        </div>
                        {% endif %}

                    </div>

            </div>

            <div class="row"><div class="projects-rule"></div></div>

            {% if intro || summary %}

                <div class="row bg-white pt2">

                    <div class="col-xs-offset-1 col-xs-10 centered">
                        <h4 class="mt0">
                            {{ intro }}
                            <br class="hidden-xs" />
                            {{ summary }}
                        </h4>
                    </div>

                </div>
                <div class="row bg-white">

                    <div class="col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-3 centered">
                        <a class="sync link" href="#{{ type }}-list"><p class="h1 mt0"><span class="bold brand pictogram">ﬁ</span></p></a>
                    </div>

                </div>

            {% endif %}
        </div>

    </section>

{% endmacro %}
