<div id="map" class="half-lax crop">
	<div id="map-block" class="visible-xs half-strict"></div>
	<div id="map-instructions" class="h6 uppercase">
		<p class="bold dark">Click on a project's location to learn more</p>
		<div id="map-zoom-in" class="map-button hidden-xs clickable">+</div>
		<div id="map-zoom-out" class="map-button hidden-xs">-</div>
	</div>
</div>


<script id="map-data" type="text/javascript" charset="utf-8"> var projects = {{ cms.projects|json }} </script>

<script type="text/javascript" src="/static/javascript/map.js"></script>