{% set limit = 10 %}

<div id="overlay" class="overlay bg-dark off menu-trigger"></div>

<menu class="bg-light" >

	<div class="row">
		<div class="col-sm-2 col-sm-offset-1 hidden-xs">
			<a href="/about"><h3>About</h3></a>
		</div>
		<div class="col-sm-4  hidden-xs">
			<a href="/projects"><h3>Projects</h3></a>
		</div>
		<div class="col-sm-4  hidden-xs">
			<a href="/news"><h3>News</h3></a>
		</div>
		<div class="col-xs-1 hidden-xs"><a href="" class="menu-trigger"><h3 class="pictogram bold">’</h3></a></div>
	</div>
		

	<div class="row hidden hidden-xs">
		<hr class="col-sm-10 hr-light">
	</div>

	<div class="row">
		<ul class="about-items col-xs-offset-1 col-xs-9 col-sm-offset-1 col-sm-2">
			<li class="visible-xs"><a href="/about"><h3>About</h3></a></li>
			<li> <a href="/opportunities"><h5>Opportunities</h5></a></li>
			<li> <a href="/about#what-we-do"><h5>What We Do</h5></a></li>
			<li> <a href="/about#our-team"><h5>Our Team</h5></a></li>
			<li> <a href="/about#collaborators"><h5>Collaborators</h5></a> </li>
			<li> <a href="/about#funders"><h5>Funders</h5></a> </li>
		</ul>

		<div class="col-xs-1 visible-xs"><a href="" class="menu-trigger"><h3 class="pictogram bold">’</h3></a></div>

		<hr class="hr-light col-xs-12 visible-xs">
		
		<div class="col-xs-offset-1 col-xs-10 visible-xs"><a href="/projects"><h3>Projects</h3></a></div>

		<ul class="projects-left-items col-xs-offset-1 col-xs-5 col-sm-offset-0 col-sm-2">
			

			{% for project in cms.projects|slice(cms.projects|size / 2, cms.projects|size) %}

			<li class="project-nav-item-link nav-item-link"><a {% if ( getCurrentUrl() == url( project ) ) %} class="active" {% endif %} href="{{ url( project ) }}"><h5>{{ project.shortname }}</h5></a></li>

			{% endfor %}

		</ul>

		<ul class="projects-right-items col-xs-5 col-sm-2">

			{% for project in cms.projects|slice(0, cms.projects|size / 2) %}

			<li class="project-nav-item-link nav-item-link"><a {% if ( getCurrentUrl() == url( project ) ) %} class="active" {% endif %} href="{{ url( project ) }}"><h5>{{ project.shortname }}</h5></a></li>

			{% endfor %}

		</ul>

		<div class="col-xs-offset-1 col-xs-10 visible-xs"><a href="/news"><h3>News</h3></a></div>

		<ul class="news-left-items col-xs-offset-1 col-xs-5 col-sm-offset-0 col-sm-2">
			

			{% for news in cms.news|slice(cms.news|size / 2, cms.news|size) %}

			<li class="news-nav-item-link nav-item-link"><a {% if ( getCurrentUrl() == url( news ) ) %} class="active" {% endif %} href="{{ url( news ) }}"><h5>{{ news.name }}</h5></a></li>

			{% endfor %}
			
		</ul>

		<ul class="news-right-items col-xs-5 col-sm-2">

			{% for news in cms.news|slice(0, cms.news|size / 2) %}

			<li class="news-nav-item-link nav-item-link"><a {% if ( getCurrentUrl() == url( news ) ) %} class="active" {% endif %} href="{{ url( news ) }}"><h5>{{ news.name }}</h5></a></li>

			{% endfor %}
			
		</ul>
	</div>

	<div class="row">
		<hr class="col-sm-12 hr-light">
	</div>	

	<div class="row mb2 bg-medium">
		<div class="hidden-xs col-sm-2 col-sm-offset-1">
			<h3>Contact</h3>
		</div>
		<address id="office-address" class="mt1 col-xs-offset-1 col-xs-5 col-sm-offset-0 col-sm-4">
			<h6 class="bold uppercase mb2">Office:</h6>
			<h6>30 Wadsworth Street</h6>
			<h6>Building E53-416</h6>
			<h6>Cambridge, MA 02142</h6>
		</address>
		<address id="mailing-address" class="mt1 col-xs-5 col-sm-4">
			<h6 class="bold uppercase mb2">Mail:</h6>
			<h6>77 Massachusetts Avenue</h6>
			<h6>Building E53-416</h6>
			<h6>Cambridge, MA 02139</h6>
		</address>	
	</div>

	<div class="hidden row bg-white mb2">
		<div class="col-sm-10 centered"><a class="uppercase" href='/about'>Learn About Us</a></div>
	</div>
</menu>