<menu class="bg-light" >

	<div class="row">
		<div class="col-sm-offset-1 col-sm-11"><span class="close pictogram">X</span></div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<h3>About</h3>
		</div>
		<div class="col-sm-4">
			<h3 >Projects</h3>
		</div>
		<div class="col-sm-4">
			<h3>News</h3>
		</div>
	</div>
		

	<div class="row">
		<hr class="col-sm-10 hr-light">
	</div>

	<div class="row">
		<ul class="about-items col-sm-2">
			<li> <a href="/about#what-we-do"><h5>What We Do</h5></a></li>
			<li> <a href="/about#our-team"><h5>Our Team</h5></a></li>
			<li> <a href="/about#collaborators"><h5>Collaborators</h5></a> </li>
			<li> <a href="/about#sponsors"><h5>Sponsors</h5></a> </li>
		</ul>

		<ul class="projects-left-items col-sm-2">

			{% for project in cms.projects|slice(cms.projects|size / 2, cms.projects|size) %}

			<li><a href="{{ url( project ) }}"><h5>{{ project.shortname }}</h5></a></li>

			{% endfor %}

		</ul>

		<ul class="projects-right-items col-sm-2">

			{% for project in cms.projects|slice(0, cms.projects|size / 2) %}

			<li><a href="{{ url( project ) }}"><h5>{{ project.shortname }}</h5></a></li>

			{% endfor %}

		</ul>

		<ul class="col-sm-2">

			{% for news in cms.news|slice(cms.news|size / 2, cms.news|size) %}

			<li><a href="{{ url( news ) }}"><h5>{{ news.shortname }}</h5></a></li>

			{% endfor %}
			
		</ul>

		<ul class="col-sm-2">

			{% for news in cms.news|slice(0, cms.news|size / 2) %}

			<li><a href="{{ url( news ) }}"><h5>{{ news.shortname }}</h5></a></li>

			{% endfor %}
			
		</ul>
	</div>

	<div class="row">
		<hr class="col-sm-10 hr-light">
	</div>	

	<div class="row mb2">
		<div class="col-sm-2">
			<h3>Contact</h3>
		</div>
		<address id="office-address" class="mt1 col-sm-4">
			<h6 class="bold uppercase mb2">Office:</h6>
			<h6>30 Wadsworth Street</h6>
			<h6>Building E53-430</h6>
			<h6>Cambridge, MA 02142</h6>
		</address>
		<address id="mailing-address" class="mt1 col-sm-4">
			<h6 class="bold uppercase mb2">Mail:</h6>
			<h6>30 Wadsworth Street</h6>
			<h6>Building E53-430</h6>
			<h6>Cambridge, MA 02142</h6>
		</address>	
	</div>

	<div class="hidden row bg-white mb2">
		<div class="col-sm-10 centered"><a class="uppercase" href='/about'>Learn About Us</a></div>
	</div>
</menu>