{% macro metadata_row( date, category, people ) %}

    <span class="metadata-date">{{ date }}{% if category %},{% endif %}</span>

    {% if category %}
        <span>{{ category.name }}</span>
    {% endif %}

    {% if people|size > 0 %}
        <span class="brand-stroke">/</span>
        {% for person in people %}
            <span class="metadata-author">
                {% if person.relationship_to_govlab == "Team Member" %}<a href="{{ url( person ) }}">{% endif %}
                {{ person.name }}{% if !loop.last %},{% endif %}
                {% if person.relationship_to_govlab == "Team Member" %}</a>{% endif %}
                {% if !loop.last %}&nbsp;{% endif %}
            </span>
        {% endfor %}
    {% endif %}

{% endmacro %}
