{# These macros implement different DOM components of the opportunities page #}

{# listing : string, string, URL --> opportunity listing
 # given a name, description and link, this macro produces an offset description
 # of an opportunity in a certain category.
 #}
{% macro listing( name, description, link, linktext ) %}

        <div class="row mb3">

          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-3 centered-xs">
            <h5 class="bold">{{ name }}</h5>
          </div>

          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 centered-xs">
            <p>{{ description }}</p>
          </div>

          {% if link || linktext %}
          <div class="col-xs-offset-1 col-xs-10 col-sm-offset-5 col-sm-5 centered-xs">

            {% if link %}<a class="sync uppercase brand h6" href="{{link}}"> {% else %}<p class="uppercase h6">{% endif %}

              {% if linktext %}
                {{ linktext }}
              {% else %}
                Learn More
              {% endif %}

             {% if link %}</a>{% else %}</p>{% endif %}

          </div>
          {% endif %}

        </div>

{% endmacro %}

{# header : string, string --> opportunity header
 # given a name, description and link, this macro produces an offset description
 # of an opportunity in a certain category.
 #}
{% macro header( section, description ) %}

 	<div class="row mb2">
        <div class="col-xs-12 col-sm-offset-1 col-sm-3">
          <h4 class="mb2 brand bold uppercase centered-xs">
            {{ section }}
          </h4>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
          <h4 class="mb2">

              {{ description }}

          </h4>
        </div>
      </div>

{% endmacro %}

{# opportunities : string, string, [opportunity] --> opportunity listing
 # given a name, description, and an array of listings in the category, this
 # macro produces a
 #}
{% macro opportunities(name, description, no_opportunities, collection, classes) %}

	<section id="jobs" class="{{ classes }} padded">
	  <div class="container-fluid">
	  <div class="row">


	      {% if collection && collection.length > 0 %}
            <div class="col-sm-offset-1 col-sm-10">
	        {% for opportunity in collection %}

	        {{ listing( opportunity.name, opportunity.description, opportunity.link, opportunity.link_text ) }}

	        {% endfor %}
            </div>

          {% else %}
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
                <div class="wysiwyg">{{ no_opportunities|safe }}</div>
            </div>
          {% endif %}


	  </div>
	  </div>
	</section>

{% endmacro %}
