{# This is a collection of macros dealing with output content #}

{# this macro generates a card for an output item given an
 # output item in JSON.
 #}
{% macro outputcard( item ) %}

<li id="output-{{ item.name|lower|replace(' ', '-', 'g') }}" class="results-tile row mb1" data-publish-date="{{ item.publish_date }}" data-sort-value="{% for value in merge( item.research_topics, item.output_type ) %}{{ value.name|lower|replace(' ', '-', 'g') }} {% endfor %}">
    <div class="col-sm-3 hidden-xs">
        <img class="results-tile-cover-image" src="{{ item.cover_image|imageCrop(500,500) }}" />
    </div>
    <div class="col-sm-9 col-xs-12">
        <h6 class="results-tile-metadata bold">

            {% if item.authors|size > 0 or item.output_type|size > 0 %}
                {% if item.output_type|size > 0 %}
                    {{ item.publication_date|date('F Y')}},
                    {{ item.output_type.name }}
                    <span class="brand-stroke">/</span>
                {% else %}
                    {{ item.publication_date|date('F Y')}} <span class="brand-stroke">/</span>
                {% endif %}
            {% endif %}

            {% for team_member in item.authors %}
                {{ team_member.name }}{% if !loop.last %}, {% endif %}
            {% endfor %}
        </h6>
        <a href="{{ url( item ) }}"><h4 class="results-tile-title bold">{{ item.name }}</h4></a>
        <h5 class="results-tile-summary mb1">{{ item.summary }}</h5>
    </div>
</li>

{% endmacro %}

{% macro output_header( item ) %}

    <div class="row padded standard-output-header">

        <div class="image-mask"></div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-9 centered-xs pt1">
            <h5 class="project-metadata bold white">
                {{ metadata.metadata_row( item.publication_date|date('F Y') || item.publish_date|date('F Y'), item.output_type, item.authors, true ) }}
            </h5>
            <div>
                <h3 class="project-title white bold mb1">{{ item.name }}{% if item.subtitle%}:{% endif %}</h3>
                {% if item.subtitle%}<h3 class="italic">{{ item.subtitle }}</h3>{% endif %}
                {% if item.file %}<span class="download-button-container"><a href="{{ item.file.url }}" class="white download-button mb1" target="_blank">Download</a></span>{% endif %}
            </div>
        </div>
    </div>

    <div class="row {% if !item.image %} mb2{% endif %} mb2">

        <div class="projects-rule standard-output-rule"></div>

    </div>

{% endmacro %}

{% macro output_research_header( item ) %}

    <div class="row padded research-header">

        <div class="image-container" style="background-image:url('{{ item.image|imageCrop(1000,500) }}')"></div>
        <div class="image-mask"></div>

        <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-9 centered-xs pt1">
            <h5 class="project-metadata bold white">
                {{ metadata.metadata_row( item.publication_date|date('F Y') || item.publish_date|date('F Y'), item.output_type, item.authors ) }}
            </h5>
            <div>
                <h3 class="project-title white bold mb1">{{ item.name }}{% if item.subtitle%}:{% endif %}</h3>
                {% if item.subtitle%}<h3 class="italic">{{ item.subtitle }}</h3>{% endif %}
                {% if item.file %}<span class="download-button-container"><a href="{{ item.file.url }}" class="white download-button mb1" target="_blank">Download</a></span>{% endif %}
            </div>
        </div>
    </div>

    <div class="row {% if !item.image %} mb2{% endif %} mb2">

        <div class="projects-rule"></div>

    </div>

{% endmacro %}
