

<div id="overlay" class="overlay bg-dark off search-trigger"></div>

<section id="search-box" class="bg-light" >
    <div class="outer-container">

        <div class="row mt1">
            <div class="col-sm-offset-1 col-sm-9">
                <p class="uppercase gray h3 search-gov-lab">Search MIT GOV/LAB</p>
            </div>
            <div class="col-xs-1"><a href="" class="search-trigger"><p class="close-button pictogram bold h3">’</p></a></div>
        </div>

        <div class="row mb3">
            <div class=" col-sm-offset-1 col-sm-10">
                <input id="search-input" class="brand" placeholder="type to search" />
            </div>
        </div>

        <div class="row results">
            <div class="projects-results results-column col-sm-offset-1 col-sm-10">
                <div id="result-count" class="col-sm-12 row"><p>
                    <span class="projects-count">0</span>&nbsp;
                    <span class="projects-postfix">Projects</span>,&nbsp;
                    <span class="news-count">0</span>&nbsp;
                    <span class="news-postfix">Updates</span>,&nbsp;
                    <span class="output-count">0</span>&nbsp;
                    <span class="output-postfix">Research Results</span>.&nbsp;
                </p></div>
                <ul id="results" class="col-sm-12 p0 result-set">
                </ul>
            </div>
        </div>

    </div>
</section>
