

<div id="overlay" class="overlay bg-dark off search-trigger"></div>

<section id="search-box" class="bg-light" >
    <div class="outer-container">

        <div class="row mt1">
            <div class="col-sm-offset-1 col-sm-9">
                <p class="uppercase gray h3 search-gov-lab">Search MIT GOV/LAB</p>
            </div>
            <div class="col-xs-1"><a href="" class="search-trigger"><p class="close-button pictogram bold h3">’</p></a></div>
        </div>

        <div class="row mb3">
            <div class=" col-sm-offset-1 col-sm-10">
                <input id="search-input" class="brand" placeholder="type to search" />
            </div>
        </div>

        <div class="row results">
            <div class="projects-results results-column col-sm-offset-1 col-sm-4">
                <h3 class="results-header header-bar small uppercase bold">Projects</h3>
                <ul id="projects-results" class="col-sm-11 p0 result-set">

                    <li class="project-result search-result mb2">
                        <a class="project-link" href="{{ url( projects ) }}">
                            <h4 class="small uppercase brand bold">Project Name</h4>
                            <h4 class="bold">Project Name</h4>
                            <p class="project-description small">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="research-results results-column col-sm-3">
                <h3 class="results-header header-bar small uppercase bold">Research</h3>
                <ul id="research-results" class="col-sm-11 p0 result-set">

                    <li class="research-result search-result mb2" class="col-sm-11">
                        <a class="project-link" href="{{ url( projects ) }}">
                            <h4 class="small uppercase brand bold">Research Type</h4>
                            <h5 class="bold">Research Name</h5>
                            <p class="project-description small">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </a>
                    </li>

                    <li class="research-result search-result mb2">
                        <a class="research-link" href="{{ url( cms.projects ) }}">
                            <h4 class="small brand bold">Research Type</h4>
                            <h5 class="bold">Research Name</h5>
                            <p class="project-description small">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </a>
                    </li>

                    <li class="research-result search-result mb2" class="col-sm-11">
                        <a class="project-link" href="{{ url( projects ) }}">
                            <h4 class="small uppercase brand bold small uppercase bold">Research Type</h4>
                            <h5 class="bold">Research Name</h5>
                            <p class="project-description small">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </a>
                    </li>

                    <li class="research-result search-result mb2">
                        <a class="research-link" href="{{ url( cms.projects ) }}">
                            <h4 class="small brand bold">Research Type</h4>
                            <h5 class="bold">Research Name</h5>
                            <p class="project-description small">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="news-results results-column col-sm-3">
                <h3 class="results-header header-bar small uppercase bold">News</h3>
                <ul id="news-results" class="col-sm-11 p0 result-set">

                    <li class="news-result search-result mb2">
                        <a class="news-link" href="{{ url( cms.output ) }}">
                            <h4 class="small uppercase">September 16</h4>
                            <h5 class="bold">Article Name</h5>
                            <p class="attribution small italic">by <span class="bold">Name</span></p>
                        </a>
                    </li>

                     <li class="news-result search-result mb2">
                        <a class="news-link" href="{{ url( cms.output ) }}">
                            <h4 class="small uppercase">September 16</h4>
                            <h5 class="bold">Article Name</h5>
                            <p class="attribution small italic">by <span class="bold">Name</span></p>
                        </a>
                    </li>

                     <li class="news-result search-result mb2">
                        <a class="news-link" href="{{ url( cms.output ) }}">
                            <h4 class="small uppercase">September 16</h4>
                            <h5 class="bold">Article Name</h5>
                            <p class="attribution small italic">by <span class="bold">Name</span></p>
                        </a>
                    </li>

                     <li class="news-result search-result mb2">
                        <a class="news-link" href="{{ url( cms.output ) }}">
                            <h4 class="small uppercase">September 16</h4>
                            <h5 class="bold">Article Name</h5>
                            <p class="attribution small italic">by <span class="bold">Name</span></p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</section>
