{% macro slideshare( slideshare_embed ) %}

    <section id="slideshare" class="slideshare bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div id="slideshare-html-target" class="">

                            {{ slideshare_embed|replace('width="599"', 'width="100%"', 'g')|replace('width="344"', 'width="100%"', 'g')|replace('width="429"', 'width="100%"', 'g')|replace('width="514"', 'width="100%"', 'g')|safe }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endmacro %}
