<div id="overlay" class="overlay bg-dark off subscribe-trigger"></div>

<section id="subscribe" class="padded" aside-exit>
  <div class="container">

  <div class="row">

    <a class="subscribe-trigger">
    <div class="col-sm-12">
      <div class="bg-brand skew-field">
        <h3 class="white centered p1">
          <span class="bold">Subscribe</span> to our mailing list to watch our progress!
        </h3>
      </div>

    </div>
    </a>

  </div>

  </div>
</section>


<div id="subscribe-box" class="closed bg-light">

    {% include "templates/partials/subscribe-mce-form.html" %}

</div>
