{% macro subscribeform( classes ) %}

<div class="subscribe-box bg-light pt2">

    {% include "templates/partials/subscribe-mce-form.html" %}

</div>

<div class="col-xs-offset-1 col-xs-10">
    <div class="prjects-rule"></div>
</div>

{% endmacro %}


{% macro subscribe( classes ) %}

    <div id="overlay" class="overlay bg-dark off subscribe-trigger"></div>

    <section id="subscribe" class="bg-white {{ classes }}" aside-exit>
      <div class="container">

      <div class="row">

        <a class="subscribe-trigger">
        <div class="col-xs-12">
          <div class="bg-brand skew-field">
            <h3 class="white centered p1">
              <span class="pictogram">→</span><span class="bold">Subscribe</span> to our mailing list to watch our progress!
            </h3>
          </div>

        </div>
        </a>

      </div>

      </div>
    </section>


    <div id="subscribe-box" class="overlay-box closed bg-light">

        {% include "templates/partials/subscribe-mce-form.html" %}

    </div>

{% endmacro %}
