{% macro subscribeform( classes ) %}

<div class="subscribe-box bg-light pt2">

    {% include "templates/partials/subscribe-mce-form.html" %}

</div>

<div class="col-xs-offset-1 col-xs-10">
    <div class="prjects-rule"></div>
</div>

{% endmacro %}


{% macro subscribe( classes ) %}

    <section id="subscribe" class="{{ classes }}" aside-exit>
      <div class="container-fluid">

          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="subscribe-box-container">
                            <h5 class="mb1 bold">
                                Newsletter
                            </h5>
                            <p class="mb2">
                                Every month or so, MIT GOV/LAB releases a newsletter reporting on our projects, activities, research results for interested folks. If that sounds like you, sign up here!
                            </p>
                            <a class="bg-brand white padded bold subscribe-link centered" href="/newsletter">
                                  Subscribe <span class="hidden-xs">to our newsletter</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </div>

      </div>
    </section>

{% endmacro %}
