{% macro update( item ) %}

<div id="{{ news.name|lower|replace(' ', '-', 'g') }}"class="updates-tile col-xs-12 mb2" > <!-- data-sort-value="{% if ( news.category ) %}{{ news.category.name|lower }}{% endif %} " -->

    <div class="row">

        <div class="col-sm-4">
            <img class="updates-tile-image" src="{{ item.cover_image|imageCrop(500, 350) }}" />
        </div>

        <div class="col-sm-8">
            <h6 class="updates-tile-metadata bold">
                {{ item.news_date|date('F Y') }}
                {% if item.author|size > 0 %}
                    <span class="brand-stroke">/</span>
                    {{ item.author.name }}
                {% endif %}
            </h6>

            <a href="{{ url( item ) }}"><h3 class="updates-tile-title bold">{{ item.name }}</h3></a>

            <h5 class="updates-tile-summary">{{ item.summary }}</h5>

        </div>

    </div>

</div>

{% endmacro %}
