
{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}
<article class="news bg-light">

  <section id="news-story bg-light">
  <div class="container-fluid">
  <div class="row">

    <div id="sidebar" class="col-sm-3 hidden-xs" aside-enter> 
      {% set page = "news-item" %}
      {% include "templates/partials/aside.html" %} 
    </div>

    <div class="col-sm-9 bg-white">

      <div class="row">
        <div class="col-sm-12">
          <img class="fade-in" src="{{ item.cover_image|imageCrop(1000,500)}}">
        </div>
      </div>

       <div class="row padded">
          <div class="col-sm-offset-1 col-sm-10">
            <h2 class="project-title">{{ item.name }}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <h4 class="project-summary">{{ item.summary }}</h4>
          </div>
        </div>
  
        <div class="row mb2">
        <hr class="col-sm-offset-1 col-sm-10 hr-brand" />
        </div>

        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
          {{ item.story|safe }}
          </div>
        </div>

    </div>
  </div>
  </div>
  </section>
</article>

{% set returnTo = {to: "News", url: "/news" } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
