
{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}
<article class="news bg-light">

  <section id="news-story bg-light">
  <div class="container-fluid">
  <div class="row">

    <div id="sidebar" class="col-sm-3 hidden-xs" aside-enter> 
      {% set page = "news-item" %}
      {% include "templates/partials/aside.html" %} 
    </div>

    <div class="col-sm-9 bg-white">

       <div class="row padded">
          <div class="col-xs-offset-1 col-xs-10 centered-xs">
            <h2 class="project-title bold">{{ item.name }}</h2>
          </div>
        </div>

        <div class="row mb2">
          <div class="col-xs-offset-1 col-xs-10 centered-xs">
            <h4 class="project-summary">{{ item.summary }}</h4>
          </div>
        </div>

        <div class="row">
          
            <div class="projects-rule"></div>
          
        </div>

        <div class="row mb2">
          
            {% if ( item.cover_image ) %}
  
              <img src="{{ item.cover_image|imageCrop(1000,500) }}">

            {% endif %}
          
        </div>

        <div class="row pb4">
          <div class="col-xs-offset-1 col-xs-10">
            {{ item.story|safe }}
          </div>
        </div>

      </div>

  </div>
  </div>
  </section>
</article>

{% set returnTo = {to: "News", url: "/news" } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
