{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH news #}
{# This page can use any data from http:localhost:2000/cms/#/form/news/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this news's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<article class="news">
  <section id="news-story">
  <div class="row">

    <div class="col-sm-3 bg-brand">
      
    </div>

    <div class="col-sm-9 bg-white">

      <div class="row">
        <div class="col-sm-12">
          <img class="fade-in" src="{{ item.cover_image|imageCrop(1000,500)}}">
        </div>
      </div>

       <div class="row padded">
          <div class="col-sm-offset-1 col-sm-10">
            <h2 class="project-title">{{ item.name }}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <h4 class="project-summary">{{ item.summary }}</h4>
          </div>
        </div>
  
        <div class="row mb2">
        <hr class="col-sm-offset-1 col-sm-10 hr-brand" />
        </div>

        <div class="row mb2">
          <div class="col-sm-offset-1 col-sm-10">
          {{ item.story|safe }}
          </div>
        </div>

    </div>

  </div>
  </section>
</article>

<section id="back" class="bg-dark">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 padded">
      <h3>
        Back To Home
      </h3>
    </div>
  </div>
</section>
{% endblock %}
