

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Updates{% endblock %}

{% block content %}


<section id="news-introduction" class="bg-light block">
  <div class="block-background" style="background: url({{ cms.about.news_image|imageSize(2500,500)}}); background-size:cover; background-position:center center;"> </div>

  <div class="container three-quarter-strict block">

    <div class="row vertical-center">
      <div class="col-sm-offset-3 col-sm-7 white centered">
      <h2 class="bold">Where are we researching now?</h2>
      <h2>Follow our latest news, project updates, and research publications, <br class="hidden-xs"> or subscribe to our newsletter.</h2>
      </div>
    </div>

  </div>

</section>

<section id="news" class="bg-white padded mb6" aside-enter>
  <div class="container-fluid">
  <div class="row">


    <div id="sidebar" class="col-sm-2 bg-white hidden-xs">
      {% set page = "news" %}
      {% include "templates/partials/aside.html" %}
    </div>


    <div class="col-xs-offset-1 col-xs-10 col-sm-9 bg-white">
      {% if cms.news.length %}
      <ul id="news-list" class="row">


      {% for news in cms.news|sort('news_date', true) %}


      <li id="{{ news.name|lower|replace(' ', '-', 'g') }}"class="col-xs-12 mb2 project-tint" data-sort-value="{% if ( news.category ) %}{{ news.category.name|lower }}{% endif %} ">
          <div class="row">

          {% if ( news.category ) %}
          <div class="col-sm-offset-9 col-xs-12 col-sm-2 righted mb1">
            <a data-sort-key="{{ news.category.name|lower }}" class="h6 uppercase">{{ news.category.name }}</a>
          </div>
          {% endif %}

          <a href="{{ url(news) }}">

          <div class="col-sm-11 col-xs-12">
            <span class="block news-rule-xs"></span>
          </div>


          <div class="col-xs-12 col-sm-4 mt1 pt1">

            <figure>
            {% if ( news.cover_image ) %}

              <img class="news-tile-image" src="{{ news.cover_image|imageSize(300) }}" alt="">

            {% else %}

              <img src="{{ news.cover_image|imageSize(300) }}" alt="">

            {% endif %}

            </figure>

          </div>


          <div class="col-xs-12 col-sm-5 pt2 centered-xs">
            <h3 class="mb1 mt0 bold">{{ news.name }}</h3>
            <p>{{ news.summary }}</p>
          </div>


          <div class="hidden-xs col-xs-12 col-sm-offset-0 col-sm-2  pt1 righted">

          <h6 class="bold uppercase">
            {% if news.news_date %}
              {{ news.news_date|date('F Y') }}
            {% else %}
              {{ news.publish_date|date('F Y') }}
            {% endif %}
          </h6>
          {% if ( news.author ) %} <h6 class="bold uppercase">{{ news.author.name }}</h6> {% endif %}

          </div>
          </a>

      </div>
      </li>

      {% endfor %}

      </ul>
       {% else %}
       <div id="news-empty" class="row">
        <div class="col-xs-offset-1 col-xs-12 col-sm-6">
          <h3 class="centered">Looks like there aren't any updates right now. Check back later!</h3>
        </div>
       </div>
       {% endif %}
    </div>
  </div>
  </div>

</section>

{% include 'templates/partials/subscribe.html' %}

{% set returnTo = {to: "Home", url: "/", aside: false } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
