{% extends "templates/partials/base.html" %}

{% import "templates/partials/subscribe.html" as s %}

{% import "templates/partials/list-header.html" as list %}

{% import "templates/partials/updates-card.html" as u %}

{% block og_title %}{% parent %} - {{ news_name }}{% endblock %}
{% block og_description %}{{ cms.about.updates_intro_text }}{% endblock %}
{% block og_image %}{{ cms.about.news_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - {{ news_name }}{% endblock %}
{% block tw_description %}{{ cms.about.updates_intro_text }}{% endblock %}
{% block tw_image %}{{ cms.about.news_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - Updates{% endblock %}



{% block content %}

{{ list.header( 'news', news_name, cms.about.news_image, cms.about.updates_intro_callout, cms.about.updates_intro_text, cms.about.news_image_caption ) }}

{{ s.subscribe('bg-white pt2 pb2') }}

<section id="news" class="bg-white pb2" aside-enter>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 bg-white">
                <div id="news-list" class="row">

                    {% for news in cms.news|sort('news_date', true) %}

                        {{ u.update( news ) }}

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
