<ul>
    <li class="sidebar-item sidebar-metadata-items active mb2">
        <ul>
            <li class="h5 uppercase bold sidebar-active-heading hidden mt0">{{ item.shortname }}</li>

            {% if item.project_timeline %}
            <li class="hidden h5 uppercase bold sidebar-passive-subheading mb0">Project Timeline</li>
            <li class="hidden h5 mb1">{{ item.project_timeline }}</li>
            {% endif %}

            {% if item.region.length %}
            <li class="h5 uppercase bold sidebar-passive-subheading mb0">Region</li>
            <li class="h5 mb1 mt0">{{ item.region.name }}</li>
            {% endif %}
        </ul>
    </li>

    {% if ( item.team_members.length ) %} {# ------------------------------------------------- #}
    <li class="sidebar-item sidebar-team-members mb2">
        <ul>
            <li class="h5 uppercase bold brand sidebar-passive-subheading mt0 mb0">Team Members</li>
            {% for teammember in item.team_members %}
                {% if cms.peopleorder.people_order|where("name",teammember.name)|size == 1 %}
                <li class="h5"><a href="{{ url(teammember) }}">{{ teammember.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}

    {% if item.related_projects %}
        <li class="sidebar-item sidebar-team-members mb2">
            <ul>
                <li class="h5 uppercase underline bold brand sidebar-passive-subheading mt0 mb0">Related Research</li>
                {% for project in item.related_projects %}
                    <li class="h5"><a href="{{ url( project ) }}">{{ project.shortname }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if item.related_research %}
        <li class="sidebar-item sidebar-team-members mb2">
            <ul>
                <li class="h5 uppercase underline bold brand sidebar-passive-subheading mt0 mb0">Related Result{{ item.related_research|pluralize('s') }}</li>
                {% for research in item.related_research %}
                    <li class="h5"><a href="{{ url( research ) }}">{{ research.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if item.related_updates %}
        <li class="sidebar-item sidebar-team-members mb2">
            <ul>
                <li class="h5 uppercase underline bold brand sidebar-passive-subheading mt0 mb0">Related Update{{ item.related_updates|pluralize('s') }}</li>
                {% for update in item.related_updates %}
                    <li class="h5"><a href="{{ url( update ) }}">{{ update.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

</ul>
