<ul class="pt3">

    {% if ( item.news_category.length ) %}
        <li class="sidebar-item mb2">
            <ul>
                <li class="h5 uppercase bold sidebar-active-heading">{{ item.category.name }}</li>
            </ul>
        </li>
    {% endif %}

    {% if ( item.author ) %}
        <li class="sidebar-item mb2">
            <ul>
                <li class="h5 uppercase bold sidebar-passive-subheading mb0">Author</li>
                <li class="h5 uppercase mt0"><a href="{{ url( item.author ) }}">{{ item.author.name }}</a></li>
            </ul>
        </li>
    {% endif %}

    <li class="sidebar-item mb2">
        <ul>
            <li class="h5 uppercase bold sidebar-passive-subheading mb0"> Date</li>
            <li class="h5 uppercase mt0">
                {% if ( item.news_date ) %}
                    {{ item.news_date|date('F Y') }}
                {% else %}
                    {{ item.publish_date|date('F Y') }}
                {% endif %}
            </li>
        </ul>
    </li>

    {% if item.related_projects %}
        <li class="sidebar-item sidebar-team-members">
            <ul>
                <li class="h5 uppercase underline bold brand sidebar-passive-subheading mb0">Related Project{{ item.related_projects|pluralize('s') }}</li>
                {% for project in item.related_projects %}
                    <li class="h5 uppercase {% if ( loop.index == item.related_projects|size ) %}mb1 mt0{% endif %}"><a href="{{ url( project ) }}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if item.related_research %}
        <li class="sidebar-item sidebar-team-members">
            <ul>
                <li class="h5 uppercase underline bold brand sidebar-passive-subheading mb0">Related Research</li>
                {% for output in item.related_research %}
                    <li class="h5 uppercase {% if ( loop.index == item.related_research|size ) %}mb1 mt0{% endif %}"><a href="{{ url( output ) }}">{{ output.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if item.related_updates %}
        <li class="sidebar-item sidebar-team-members">
            <ul>
                <li class="h5 uppercase underline bold brand sidebar-passive-subheading mb0">Related Update{{ item.related_updates|pluralize('s') }}</li>
                {% for update in item.related_updates %}
                    <li class="h5 uppercase {% if ( loop.index == item.related_updates|size ) %}mb1 mt0{% endif %}"><a href="{{ url( update ) }}">{{ update.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

</ul>
