{% if cms.news.length and cms.news_category.length %}
<ul>

    <li class="sidebar-item sidebar-region-sort mb4">
        <ul>
            <li class="h5 uppercase bold sidebar-heading">Categories</li>
            <hr class="hr-brand" />

            <a class="link" href="#news"><li data-sort-key=" " class="sort-key uppercase active sidebar-item mb1">All Updates</li></a>

            {% for category in cms.newscategories %}
                {% if category.news_category.length %}

                    <a class="link" href="#news"><li class="sort-key sidebar-item uppercase mb1" data-sort-key="{{ category.name|lower }}">{{ category.name }}</li></a>

                {% endif %}

            {% endfor %}
        </ul>
    </li>

</ul>
{% endif %}
