<ul>

    {% if ( cms.topics.length > 0 ) %}
        <li class="sidebar-item sidebar-topic-sort mb2">
            <ul>
                <li class="h5 uppercase bold sidebar-active-heading">Topics</li>
                <a class="link" href="#output"><li data-sort-key=" " class="sort-key uppercase active sidebar-item mb1">All</li></a>
                {% for topic in cms.topics %}
                    {% if topic.output_research_topics %}
                    <a class="link" href="#projects"><li data-sort-key="{{ topic.name|lower|replace(' ', '-', 'g') }}" class="sort-key sidebar-link uppercase mb1 {% if ( loop.index == cms.topics|size ) %}mb2{% endif %}">{{ topic.name }}</li></a>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if ( cms.outputtypes.length > 0 ) %}
        <li class="sidebar-item sidebar-region-sort mb4">
            <ul>
                <li class="h5 uppercase bold sidebar-active-heading">Media</li>
                <a class="link" href="#projects"><li data-sort-key=" " class="sort-key uppercase active sidebar-item mb1">All</li></a>
                {% for outputType in cms.outputtypes|sort('name') %}
                    <a class="link" href="#output"><li data-sort-key="{{ outputType.name|lower|replace(' ', '-', 'g') }}" class="sort-key sidebar-link uppercase mb1 {% if ( loop.index == cms.outputtypes|size ) %}mb2{% endif %}">{{ outputType.name }}</li></a>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

</ul>
