{% extends "templates/partials/base.html" %}

{% import "templates/partials/row-cards.html" as row %}
{% import "templates/partials/slideshare.html" as s %}
{% import "templates/partials/output.html" as o %}

{% import "templates/partials/metadata-row.html" as metadata %}

{% block og_title %}{% parent %} - {{ item.name }}{% endblock %}
{% block og_description %}{{ item.summary }}{% endblock %}
{% block og_image %}{{ item.image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - {{ item.name }}{% endblock %}
{% block tw_description %}{{ item.summary }}{% endblock %}
{% block tw_image %}{{ item.image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}
<article id="output-{{ item.slug }}" class="bg-white">

  <section id="project-body" class="bg-light bg-white-xs">
  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-12 bg-white pb2 pt0" style="padding-top:0px;">

        {% if item.output_type.name == "Research Brief" || item.output_type.name == "Learning Case"  %}

            {{ o.output_research_header( item ) }}

        {% else %}

            {{ o.output_header( item ) }}

        {% endif %}

        {% if image.caption %}
        <div class="row mb2">
            <div class="col-sm-offset-6 col-sm-5">
                <p class="caption gray righted p-min">{{ image.caption }}</p>
            </div>
        </div>
        {% endif %}

        <div class="row pb4">
          <div class="col-xs-offset-1 col-sm-offset-2 col-sm-8 col-xs-10">
              <div class="wysiwyg">
                  {{ item.description|safe }}
              </div>
              {% if item.slideshare_embed %}
                  {{ s.slideshare( item.slideshare_embed ) }}
              {% endif %}
          </div>
        </div>

        {% if item.file || item.link %}
            {% if item.file %}
                <div class="col-xs-offset-1 col-xs-5 pb6 centered">
                    <a target="_blank" class="sync output-link" type="{{ item.file.type }}" href="{{ item.file.url }}">Download Content</a>
                </div>
            {% endif %}
            {% if item.link %}
                <div class="{% if !item.file %}col-xs-offset-6 {% endif %} col-xs-5 bg-white pb6 centered">
                    <a target="_blank" class="sync output-link" href="{{ item.link }}">View Link</a>
                </div>
            {% endif %}
        {% endif %}

      </div>
    </div>
  </div>
  </section>

  {% if ( item.related_projects.length || item.related_updates.length || item.related_research.length ) %}
  <section id="project-related" class="bg-white">
  <div class="container-fluid">
        <div class="row">

          <div class="col-sm-12 bg-white pb4">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 mb2" >
                <div class="projects-rule"></div>
            <h4>Related {% if item.related_projects %}Project{{ item.related_projects|pluralize('s')}} {% if item.related_updates %} and {% endif %} {% endif %} {% if item.related_updates %}Update{{ item.related_updates|pluralize('s') }}{% endif %}</h4>
              </div>
            </div>

            <div class="row">
            <ul class="mb2">

                {{ row.reverse_chronological( merge(item.related_projects,item.related_research,item.related_updates) ) }}

            </ul>
            </div>

          </div>

        </div>
  </div>
  </section>
  {% endif %}

</article>

{% set returnTo = {to: "Research", url: "/output", aside: true } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
