{% import "templates/partials/output.html" as o %}

{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block og_title %}{% parent %} - {{ output_name }}{% endblock %}
{% block og_description %}{{ cms.about.output_intro_text }}{% endblock %}
{% block og_image %}{{ cms.about.research_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - {{ output_name }}{% endblock %}
{% block tw_description %}{{ cms.about.output_intro_text }}{% endblock %}
{% block tw_image %}{{ cms.about.research_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - {{ output_name }}{% endblock %}

{% block content %}

{% set output = cms.output|sort('publication_date', true) %}

{{ list.header('output', output_name, cms.about.research_image, cms.about.output_intro_callout, cms.about.output_intro_text, cms.about.research_image_caption ) }}


<section id="output" class="bg-white pb6" aside-enter>
<div class="container-fluid">
<div class="row">

    <div id="sidebar"  class="col-sm-2 hidden-xs">
    {% set page = "output" %}
    {% include "templates/partials/aside.html" %}
    </div>

    <div class="col-sm-9">
        <ul id="output-list" class="">
        {% for outputItem in output %}

            {{ o.outputcard( outputItem ) }}

        {% endfor %}
        </ul>
    </div>

</div>
</div>
</section>

{% set returnTo = {to: "Home", url: "/", aside: true } %}
{% include 'templates/partials/prefooter.html' %}


{% endblock %}
