{% import "templates/partials/output.html" as o %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Output{% endblock %}

{% block content %}

  {% set output = cms.output %}

  <section id="output-introduction" class="bg-light block">
    <div class="block-background hidden" style="background: url({{ cms.about.news_image|imageSize(2500,500)}}); background-size:cover; background-position:center center;"> </div>

    <div class="container half-strict block">

        {% set relevantTopics = 0 %}
        {% set renderedTopics = 0%}
        {% for topic in cms.topics %}
            {% if topic.output_research_topics %}{% set relevantTopics = relevantTopics + 1 %}{%endif%}
        {% endfor %}

      <div class="row vertical-center">
        <div class="col-sm-offset-3 col-sm-7 centered">
        <h2 class="bold">Take a look at some of our research output.</h2>
        <h3>
                    GOV/LAB has published research about
                    {% for topic in cms.topics %}
                        {% if topic.output_research_topics %}
                        {% if renderedTopics > 0 %}, {% if renderedTopics == relevantTopics - 1 %}and {% endif %}{% endif %}
                            <a class="" href="#output"><span data-sort-key="{{ topic.name|lower|replace(' ', '-', 'g') }}" class="header-topic">{{ topic.name }}</span></a>
                            {% set renderedTopics = renderedTopics + 1 %}
                        {% endif %}
                    {% endfor %}.
        </h3>
        </div>
      </div>

    </div>

  </section>


  <section id="output" class="bg-white pb6" aside-enter>
  <div class="container-fluid">
  <div class="row">

      <div id="sidebar"  class="col-sm-2">
      {% set page = "output" %}
      {% include "templates/partials/aside.html" %}
      </div>

      <div class="col-sm-9">
      <ul id="output-list" class="">

        {% for outputItem in output %}

            {{ o.outputcard( outputItem ) }}

        {% endfor %}
        </div>
      </ul>
      </div>
    </div>
    </div>
  </section>

{% set returnTo = {to: "Home", url: "/", aside: true } %}
{% include 'templates/partials/prefooter.html' %}


{% endblock %}
