
{% extends "templates/partials/base.html" %}

{% block content %}

<section id="four-oh-four-introduction">
	<div class="block-background" style="background: url({{ cms.about.about_image|imageSize(1000,1000)}}); background-size:cover; background-position:center center;"> </div>

	  <div class="container half-strict block">

	  </div>
</section>

<section id="four-oh-four-body">
	<div class="container-fluid">
       <div id="news-empty" class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-6">
          <h3 class="centered">Looks like there isn't any news right now. Check back later!</h3>
        </div> 
       </div>
       </div>
  </section>

{% set returnTo = {to: 'Home', url: '/'} %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
