
{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.about.name }}{% endblock %}

{% block content %}

<section id="introduction bg-gray">
    <div class="container block">
        <div class="row"><img src="{{ cms.about.about_image|imageSize(2500,500)}}" /></div>
    </div>
</section>

{% if cms.about.about_page_optional_callout %}

<section id="callout" class="bg-light pb1 pt1" aside-enter>
    <div class="container-fluid">

        <div id="sidebar" class="sidebar col-sm-2 hidden-xs">
            {% set page = 'about' %}
            {% include 'templates/partials/aside.html' %}
        </div>

        <div class="row bg-light relative">
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-3 bg-brand p2 about-callout">
                <h4 class="white bold p0">
                    {{ cms.about.about_page_optional_callout }}
                </h4>
            </div>
        </div>
    </div>
</section>

{% endif %}

<section id="what-we-do" class="bg-light pb2" {% if !cms.about.about_page_optional_callout %} aside-enter{% endif %}>
	<div class="container-fluid">
	<div class="row">

        {% if !cms.about.about_page_optional_callout %}
            <div id="sidebar" class="sidebar col-sm-2 hidden-xs">
                {% set page = 'about' %}
                {% include 'templates/partials/aside.html' %}
            </div>
        {% endif %}

		<div class="col-sm-offset-2 col-sm-9">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_tagline }}
					</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-sm-5">
					<p>{{ cms.about.about_page_tagline_summary_left_paragraph }}</p>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
					<p>{{ cms.about.about_page_tagline_summary_right_paragraph }}</p>
				</div>
			</div>

		</div>

	</div>
	</div>
</section>


<section id="research-topics" class="bg-white padded hidden" >
	<div class="container-fluid">
	<div class="row">

		<div class="col-sm-offset-2 col-sm-9">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_research_topics_heading }}
					</h3>
				</div>
			</div>

			{% for topic in cms.topics %}
			{% if loop.index0 % 3 == 0 %} <div class="row"> {% endif %}

			<div class="topic {% if loop.index0 % 3 == 0 %}col-xs-offset-2{% endif %} col-xs-3 centered">
				<h5 class="bold">{{ topic.name }}</h5>
				{% if topic.description %}<p class="h6">{{ topic.description }}</p>{% endif %}
			</div>

			{% if loop.index0 % 3 == 2 || loop.index == cms.topics.length %} </div> {% endif %}
			{% endfor %}

		</div>
	</div>
	</div>
</section>

{% if cms.peopleorder.people_order.length %}

<section id="people" class="bg-white padded" >
	<div class="container-fluid">
	<div class="row">

		<div class="col-sm-offset-2 col-sm-9">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_people_heading }}
					</h3>
				</div>
			</div>

				{% for person in cms.peopleorder.people_order %}

					{% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}

					<div class="teammember mb3  col-xs-5 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 {% if ( loop.index0 % 2 == 0 ) %}col-xs-offset-1{% endif %}">
                        <a href="{{ url( person ) }}">
    						{% if person.image %}<img class="teammember-image mb1" src="{{ person.image|imageCrop(500,500) }}" />{% endif %}
    						<h4 class="teammember-name bold">{{ person.name }}</h4>
    						<p class="teammember-description mb0">{{ person.role }}</p>
    						<a href="mailto:{{ person.email }}">{{ person.email }}</a>
                        </a>
					</div>

					{% if loop.index0 % 2 == 1 || loop.index == cms.peopleorder.people_order.length %}</div>{% endif %}

				{% endfor %}

		</div>
	</div>
	</div>
</section>

{% endif %}

<section id="collaborators" class="bg-light padded">
	<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-9">

			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_collaborators_heading }}
					</h3>
				</div>
			</div>


			{% for collaborator in cms.collaborators %}
				{% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}

				<div class="collaborator bg-light p1 {% if ( loop.index0 % 2 == 0 ) %}col-xs-offset-1{% endif %} col-xs-5 col-sm-4 col-sm-offset-1 col-lg-3 col-lg-offset-2 mb2">
					{% if collaborator.website %}<a target="_blank" class="link" href="{{ collaborator.website }}">{% endif %}
					<img class="collaborator-logo mb1" src="{{ collaborator.logo|imageSize(200,auto) }}" />
					{% if collaborator.website %}</a>{% endif %}
				</div>

				{% if loop.index0 % 2 == 1 %}</div>{% endif %}

			{% endfor %}


		</div>
	</div>
	</div>
</section>

<section id="funders" class="padded">
	<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-9">

			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_funders_heading }}
					</h3>
				</div>
			</div>

			<div class="row">
				{% for funder in cms.funders %}

					<div class="funder {% if ( loop.index0 % 3 == 0 ) %}col-xs-offset-1{% endif %} col-xs-3 mb1">
						{% if funder.website %}<a target="_blank" class="link" href="{{ funder.website }}">{% endif %}
							<img class="funder-logo mb1" src="{{ funder.logo|imageSize(auto,200) }}" />
						{% if funder.website %}</a>{% endif %}

					</div>

				{% endfor %}
			</div>

		</div>
	</div>
	</div>
</section>

{% include 'templates/partials/subscribe.html' %}

{% set returnTo = {to: "Home", url: "/",  aside: false } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
