{% import "templates/partials/subscribe.html" as s %}

{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block og_title %}{% parent %} - {{ cms.about.name }}{% endblock %}
{% block og_description %}{{ cms.about.about_page_tagline }}{% endblock %}
{% block og_image %}{{ cms.about.about_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - {{ item.name }}{% endblock %}
{% block tw_description %}{{ cms.about.about_page_tagline }}{% endblock %}
{% block tw_image %}{{ cms.about.about_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - {{ cms.about.name }}{% endblock %}

{% block content %}

<!-- <section id="introduction bg-gray">
    <div class="container block">
        <div class="row"><img src="{{ cms.about.about_image|imageSize(2500,500)}}" /></div>
    </div>
</section> -->

{{ list.header( 'about', "About", cms.about.about_image, "", "", cms.about.about_image_caption ) }}

<section id="what-we-do" class="bg-light pb2" aside-enter>
	<div class="container-fluid">
	<div class="row">

        <div id="sidebar" class="sidebar col-sm-3 hidden-xs">
            {% set page = 'about' %}
            {% include 'templates/partials/aside.html' %}
        </div>

		<div class="col-sm-offset-2 col-sm-9">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 centered mb2">
					<h3 >
						{{ cms.about.about_page_tagline }}
					</h3>
				</div>
			</div>

			<div class="row mb2">
				<div class="col-xs-offset-1 col-xs-10">
					{{ cms.about.about_page_summary_paragraphs|safe }}
				</div>
			</div>

            <div class="row">
				<div class="mb2 col-xs-offset-1 col-xs-10 centered">
                    <a class="uppercase sync" href="/diversity-and-inclusion">Read our statement on diversity and inclusion</a>
                </div>
            </div>

		</div>

	</div>
	</div>
</section>

{% if cms.about.about_page_optional_callout %}

<section id="callout" class="bg-light pb1 pt1">
    <div class="container-fluid">
    <div class="row">
            <div class="col-sm-offset-2 col-sm-9">

                <div class="row mb3">
                    <div class="projects-rule col-sm-2 col-sm-offset-5"></div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 about-callout">

                        <p> {{ cms.about.about_page_optional_callout }}</p>

                    </div>
                </div>
            </div>
    </div>
    </div>
</section>

{% endif %}

<section id="research-topics" class="bg-white padded hidden" >
	<div class="container-fluid">
	<div class="row">

		<div class="col-sm-offset-2 col-sm-9">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_research_topics_heading }}
					</h3>
				</div>
			</div>

			{% for topic in cms.topics %}
			{% if loop.index0 % 3 == 0 %} <div class="row"> {% endif %}

			<div class="topic {% if loop.index0 % 3 == 0 %}col-xs-offset-2{% endif %} col-xs-3 centered">
				<h5 class="bold">{{ topic.name }}</h5>
				{% if topic.description %}<p class="h6">{{ topic.description }}</p>{% endif %}
			</div>

			{% if loop.index0 % 3 == 2 || loop.index == cms.topics.length %} </div> {% endif %}
			{% endfor %}

		</div>
	</div>
	</div>
</section>

{% if cms.peopleorder.people_order.length %}

<section id="people" class="bg-white padded" >
	<div class="container-fluid">
	<div class="row">

		<div class="col-sm-offset-2 col-sm-9">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_people_heading }}
					</h3>
				</div>
			</div>

				{% for person in cms.peopleorder.people_order %}

					<div class="teammember max-height-bounded mb3 col-xs-5 col-sm-3 col-sm-offset-1 {% if ( loop.index0 % 2 == 0 ) %}col-xs-offset-1{% endif %}">
                        <a href="{{ url( person ) }}">
    						{% if person.image %}<img class="teammember-image mb1" src="{{ person.image|imageCrop(500,500) }}" />{% endif %}
    						<h4 class="teammember-name bold">{{ person.name }}</h4>
    						<p class="teammember-description mb0">{{ person.role }}</p>
    						<a href="mailto:{{ person.email }}">{{ person.email }}</a>
                        </a>
					</div>

				{% endfor %}

		</div>
	</div>
	</div>
</section>

{% endif %}

<section id="collaborators" class="bg-light padded">
	<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-9">

			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_collaborators_heading }}
					</h3>
				</div>
			</div>


			{% for collaborator in cms.collaborators %}

				<div class="collaborator max-height-bounded bg-light p1 col-xs-offset-1 col-xs-4 col-sm-2 col-sm-offset-1 mb2">
					{% if collaborator.website %}<a target="_blank" class="link" href="{{ collaborator.website }}">{% endif %}
					<img class="collaborator-logo mb1" src="{{ collaborator.logo|imageSize(200,auto) }}" />
					{% if collaborator.website %}</a>{% endif %}
				</div>


			{% endfor %}


		</div>
	</div>
	</div>
</section>

<section id="funders" class="padded">
	<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-9">

			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 centered">
					<h3 class="mb2">
						{{ cms.about.about_page_funders_heading }}
					</h3>
				</div>
			</div>

			<div class="row">
				{% for funder in cms.funders %}

					<div class="funder max-height-bounded col-xs-offset-1 col-xs-4 col-sm-2 col-sm-offset-1 mb1">
						{% if funder.website %}<a target="_blank" class="link" href="{{ funder.website }}">{% endif %}

							<img class="funder-logo mb1" src="{{ funder.logo|imageSize(auto,400) }}" />

						{% if funder.website %}</a>{% endif %}

					</div>

				{% endfor %}
			</div>

		</div>
	</div>
	</div>
</section>

{{ s.subscribe('padded') }}

{% set returnTo = {to: "Home", url: "/",  aside: false } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
