{% import "templates/partials/subscribe.html" as s %}

{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block og_title %}{% parent %} - Diversity & Inclusion{% endblock %}
{% block og_image %}{{ cms.about.diversity_and_inclusion_header_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - Diversity & Inclusion{% endblock %}
{% block tw_image %}{{ cms.about.diversity_and_inclusion_header_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - Diversity & Inclusion{% endblock %}


{% block content %}

    {{ list.header( 'diversity-and-inclusion-header', "Diversity & Inclusion", cms.about.diversity_and_inclusion_header_image, "", "", cms.about.diversity_and_inclusion_image_caption  ) }}

    <section id="diversity-and-inclusion" class="bg-light pb2" aside-enter>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-lg-offset-2 col-lg-8 padded">
                <div class="wysiwyg">{{ cms.about.diversity_and_inclusion_statement|safe }}</div>
            </div>
        </div>
    </section>

    {{ s.subscribe('padded') }}

    {% set returnTo = {to: "Home", url: "/",  aside: false } %}
    {% include 'templates/partials/prefooter.html' %}

{% endblock %}
