{% import "templates/partials/subscribe.html" as s %}

{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Evidence Gap Map{% endblock %}

{% block head_extra %}

    <link rel="stylesheet" href="/static/css/viz.css">
{% endblock %}

{% block scripts_extra %}
    <script type="text/javascript" src="/static/javascript/iframeResizer.min.js"></script>
    <script type="text/javascript" src="/static/javascript/viz.js"></script>
{% endblock %}

{% block content %}

    {{ list.header( 'about', "Evidence Gap Map", cms.about.about_image, "", "", cms.about.about_image_caption ) }}

    <section id="evidence-map" class="bg-light pb2" aside-enter>
        <div class="row">
            <iframe frameborder="0" scrolling="no" class="col-xs-10 col-xs-offset-1" id="evidence-gap-map-frame" src="https://soubhikbarari.github.io/TAI_evidence_gapmap/"></iframe>
        </div>
    </section>

    {{ s.subscribe('padded') }}

    {% set returnTo = {to: "Home", url: "/",  aside: false } %}
    {% include 'templates/partials/prefooter.html' %}

{% endblock %}
