{% import "templates/partials/subscribe.html" as s %}
{% import "templates/partials/metadata-row.html" as metadata %}

{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block og_title %}{% parent %} - Evidence Gap Map{% endblock %}
{% block og_image %}{{ cms.about.evidence_gap_map_header_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - Evidence Gap Map{% endblock %}
{% block tw_image %}{{ cms.about.evidence_gap_map_header_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - Evidence Gap Map{% endblock %}

{% block head_extra %}

    <link rel="stylesheet" href="/static/css/viz.css">
{% endblock %}

{% block scripts_extra %}
    <script type="text/javascript" src="/static/javascript/iframeResizer.min.js"></script>
    <script type="text/javascript" src="/static/javascript/viz.js"></script>
{% endblock %}

{% block content %}

    <section id="evidence-map-intro" class="bg-light">
        <div class="row">
            <div class="col-sm-12 bg-gray pb0 pt0" style="padding-top:0px;">

                {% set EGMap = {
                    name: cms.about.evidence_gap_map_name,
                    slug: "evidence-gap-map",
                    summary: cms.about.evidence_gap_map_description,
                    publication_date: cms.about.evidence_gap_map_publication_date,
                    authors: ["people -KPThWCcCVv7HWMQ2Snh"],
                    output_type: "outputtypes -L9Ax21AdgJ2Sxd2dRuI",
                    evidencemap: true
                } %}
                <div class="row padded standard-output-header">

                    <div class="image-mask"></div>

                    <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-9 centered-xs pt1">
                        <h5 class="project-metadata bold white">
                            <span class="metadata-date">{{ EGMap.publication_date|date('F Y') }} , </span><span>Data & Tools</span>
                        </h5>
                        <div>
                            <h3 class="project-title white bold mb1">{{ EGMap.name }}{% if item.subtitle%}:{% endif %}</h3>
                            {% if EGMap.subtitle%}<h3 class="italic">{{ EGMap.subtitle }}</h3>{% endif %}
                            {% if EGMap.file %}<span class="download-button-container"><a href="{{ EGMap.file.url }}" class="white download-button mb1" target="_blank">Download</a></span>{% endif %}
                        </div>
                    </div>
                </div>

                <div class="row {% if !EGMap.image %} mb2{% endif %} mb2">

                    <div class="projects-rule standard-output-rule"></div>

                </div>

            </div>
        </div>
    </section>

    <section id="evidence-map" class="bg-light pb2" aside-enter>
        <div class="row pt2 pb2">
          <div class="col-xs-offset-1 col-xs-10">
              <div class="wysiwyg">
                  {{ cms.about.evidence_gap_map_page_text|safe }}
              </div>

          </div>
        </div>
        <div class="row">
            <iframe frameborder="0" scrolling="no" class="col-xs-10 col-xs-offset-1" id="evidence-gap-map-frame" src="https://mit-govlab.github.io/Evidence-Gap-Map/"></iframe>
        </div>
    </section>

{% endblock %}
