{% import "templates/partials/subscribe.html" as s %}

{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block og_title %}{% parent %} - Evidence Gap Map{% endblock %}
{% block og_image %}{{ cms.about.evidence_gap_map_header_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - Evidence Gap Map{% endblock %}
{% block tw_image %}{{ cms.about.evidence_gap_map_header_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - Evidence Gap Map{% endblock %}

{% block head_extra %}

    <link rel="stylesheet" href="/static/css/viz.css">
{% endblock %}

{% block scripts_extra %}
    <script type="text/javascript" src="/static/javascript/iframeResizer.min.js"></script>
    <script type="text/javascript" src="/static/javascript/viz.js"></script>
{% endblock %}

{% block content %}

    {{ list.header( 'about', cms.about.evidence_gap_map_name, cms.about.evidence_gap_map_header_image, "", "", cms.about.evidence_gap_map_image_caption ) }}

    <section id="evidence-map" class="bg-light pb2" aside-enter>
        <div class="row pt2 pb2">
          <div class="col-xs-offset-1 col-xs-10">
              <div class="wysiwyg">
                  {{ cms.about.evidence_gap_map_page_text|safe }}
              </div>

          </div>
        </div>
        <div class="row">
            <iframe frameborder="0" scrolling="no" class="col-xs-10 col-xs-offset-1" id="evidence-gap-map-frame" src="https://mit-govlab.github.io/Evidence-Gap-Map/"></iframe>
        </div>
    </section>

    {{ s.subscribe('padded bg-light') }}

{% endblock %}
