{% import "templates/partials/subscribe.html" as s %}
{% import "templates/partials/index-content-overview.html" as o %}
{% import "templates/partials/row-cards.html" as cards %}

{% extends "templates/partials/base.html" %}

{% block og_image %}{{ cms.about.home_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_image %}{{ cms.about.home_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

<section id="home-introduction" class="bg-light block">

  <div class="block-background" style="background: url({{ cms.about.home_image|imageSize(2500,500)}}); background-size:cover; background-position:center center;"> </div>

  <div class="container half-strict block">

    <div class="row vertical-center">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 centered white"><h2 class="">{{ cms.about.site_tagline }}</h2></div>
    </div>

  </div>

</section>

<section id="home-tagline" class="bg-light pt2">
  <div class="container block">

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 centered">
      <h3 class="tagline mb1">The MIT GOV/LAB is a group of political scientists focusing on innovation in citizen engagement and government responsiveness.</h3>
      <a class="uppercase sync" href="/about">Read more about us</a>
    </div>
  </div>

</div>
</section>

{{ o.contentoverview() }}

{{ o.updatessection( cms.about.home_page_updates_oneliner, cms.news|sort('news_date', true)|slice(0,5) ) }}

{{ o.homecontentdivider( "bg-white", "mb1" ) }}

{# length must be congruent to 1 mod 2 #}
{{ o.researchsection( cms.about.home_page_research_oneliner, cms.projectsorder.projects_order|slice(0,2) ) }}

{{ o.homecontentdivider( "bg-white", "mb1" ) }}

{# length must be congruent to 1 mod 2 #}
{{ o.resultssection( cms.about.home_page_results_oneliner, cms.output|sort('publication_date', true)|slice(0,2) ) }}

<section id="home-map" class="bg-light block half-lax crop">

    {% include "templates/partials/map.html" %}

    <div id="map-callout" class="col-sm-3 col-xs-12">
      <h3 class="mb1">Our work spans <br/> the globe.</h3>
      <p class="mb2 hidden-xs hidden-sm">We take a special interest in citizen engagement by under resourced groups and government accountability in challenging contexts.</p>
      <a class="uppercase sync" href="/projects">See All {{ projects_name }}</a>
    </div>
</section>

{{ s.subscribeform('pb3') }}

<section class="divider hidden">
    <div class="row">
        <div class="col-xs-offset-5 col-sm-2 padded">
            <div class="projects-rule"></div>
        </div>
    </div>
</section>

{% endblock %}
