{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %}{% endblock %}

{% block content %}

<section id="home-introduction" class="bg-light half">
  
</section>

<section id="home-tagline" class="bg-white padded">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 centered">
      <h2 class="tagline mb2">The MIT GOV/LAB is a group of political scientists focusing on innovation in citizen engagement and government responsiveness.</h2>
      <a class="uppercase" href="/about">Learn About Us</a>
    </div>
  </div>
  
</section>

<section id="home-map" class="bg-light padded">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-3">
      <h3 class="mb2">Our work spans the globe.</h3>
      <p class="mb2">We take a special interest in citizen engagement by under resourced groups and government accountability in challenging contexts.</p>
      <a class="uppercase" href="/projects">See Our Projects</a>
    </div>
  </div>
</section>

<section id="home-updates" class="bg-white padded">
  <div class="">
    <ul class="slides">

      <li class="row">
        <div class="col-sm-offset-1 col-sm-6">
          
        </div>
        <div class="col-sm-4">
          <h3 class="mb2">We collaborate on meaningful interventions with measurable outcomes.</h3> 
          <p class="mb2">We take a special interest in citizen engagement by under resourced groups and government accountability in challenging contexts.</p>
          <a class="uppercase" href="/projects">Read our Latest Updates</a> 
        </div>
      </li>

    </ul>
  </div>
</section>

<section id="back" class="bg-brand">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 padded centered">
      <h3>
        Subscribe to our mailing list to watch our progress
      </h3>
    </div>
  </div>
</section>

{% endblock %}
