{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

<section id="home-introduction" class="bg-light block">

  <div class="block-background" style="background: url({{ cms.about.home_image|imageSize(2500,500)}}); background-size:cover; background-position:center center;"> </div>

  <div class="container half-strict block">

    <div class="row vertical-center">
      <div class="col-sm-10 col-sm-offset-1 centered white"><h2><span class="bold">Bridging the Gap</span><br /> between Citizens and the Government</h2></div>
    </div>

  </div>

</section>
 
<section id="home-tagline" class="bg-white padded">
  <div class="container block">

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 centered">
      <h3 class="tagline">The MIT GOV/LAB is a group of political scientists focusing on innovation in citizen engagement and government responsiveness.</h3>
    </div>

  </div>
  
</div>
</section>

<section id="home-map" class="bg-light block half-strict crop">

      {% include "templates/partials/map.html" %}

    <div id="map-callout" class="col-sm-3">
      <h3 class="mb1">Our work spans <br/> the globe.</h3>
      <p class="mb2 hidden-xs hidden-sm">We take a special interest in citizen engagement by under resourced groups and government accountability in challenging contexts.</p>
      <a class="uppercase sync" href="/projects">See All Projects</a>
    </div>
</section>

<section id="home-callouts" class="bg-white padded">
  <div class="container block"> 

  <div class="row one-quarter">
    <div class="col-sm-12">
      <!--<div class="row one-quarter"> -->

        <div class="block-background visible-xs" style="background: url({{ cms.about.about_image|imageSize(2500,500)}}); background-size:cover; background-position:center center;"> </div>

        <div class="col-sm-6 centered p5">
              <h4 class="mb2 hidden-xs">We collaborate on meaningful interventions with <span class="bold">measurable outcomes</span>.</h4>
              <a class="uppercase sync" href="/about">Read More</a>
        </div>

        <div class="col-sm-6 hidden-xs crop">

          <img src="{{ cms.about.about_image|imageCrop(650,450)}}" />
          <div class="image-overlay col-xs-12 col-sm-offset-1 col-sm-10 centered">
            <h4 class="mb2 hidden-xs">We engage under-resourced groups and their governments in <span class="bold">challenging contexts</span>.</h4>
            <a class="uppercase sync" href="/about">Latest updates and publications</a>
          </div>

        </div>

      <!-- </div> -->
    </div>
  </div>
  
  </div>

</section>

{% if cms.news.length %}

<section id="latest" class="">

  {% set latest = cms.news|first %}

  <div class="container">

  <div class="row">

    <div class="col-xs-6 col-sm-6 project-tint">

      <div class="row crop">

        <div class="col-xs-12">
          <figure>
            <img src="{{ latest.cover_image|imageCrop(500,350)}}" />
          </figure>
        </div>

      </div>

    </div>

    <div class="col-xs-6 col-sm-6">

      <div class="row crop">

          <div class="image-overlay col-xs-12 col-sm-offset-1 col-sm-10 centered mt1">
            <h4 class="dark mb2 hidden-xs">{{ latest.summary }}</h4>
            <a class="uppercase sync" href="{{ url( latest ) }}">Read More</a>
          </div>
      
      </div>  

    </div>

  </div>

  </div>

</section>

{% endif %}

{% include "templates/partials/subscribe.html" %}

{% endblock %}
