{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block og_title %}{% parent %} - Newsletter{% endblock %}
{% block og_image %}{{ cms.about.opportunities_background_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - Newsletter{% endblock %}
{% block tw_image %}{{ cms.about.opportunities_background_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - Newsletter{% endblock %}

{% block content %}

    {{ list.header( 'newsletter-page', "Newsletter", cms.about.newsletter_header_image, cms.about.newsletter_description, "", cms.about.newsletter_header_image_caption ) }}

    <section id="newsletter-page-list" class="bg-white">

        {% include "templates/partials/newsletter-mce-form.html" %}

    </section>

    {% set returnTo = {to: "Home", url: "/",  aside: false } %}
    {% include 'templates/partials/prefooter.html' %}

{% endblock %}
