
{% import "templates/partials/opportunity.html" as o %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.about.name }}{% endblock %}

{% block content %}

<section id="opportunities-introduction" class="bg-light block">
  <div class="block-background" style="background-color:gray; background-size:cover; background-position:center center;"> </div>

  <div class="container half-strict block">

    <div class="row vertical-center">
      <div class="col-sm-offset-1 col-sm-10 white centered">
      <h2 class="bold">{{ cms.opportunities.opportunities_header_text }}</h2>
      <h3>{{ cms.opportunities.opportunities_introductory_text }}</h3>
      </div>
    </div>

  </div>

  {{ o.opportunities("Jobs", cms.opportunities.jobs_introductory_text, cms.opportunities.jobs, "bg-white" ) }}


</section>

<section id="opportunities-footer" class="bg-light block">

</section>


{% include 'templates/partials/subscribe.html' %}

{% set returnTo = {to: "Home", url: "/" } %}
{% include 'templates/partials/prefooter.html' %}

{% endblock %}
