
{% import "templates/partials/opportunity.html" as o %}

{% import "templates/partials/subscribe.html" as s %}

{% import "templates/partials/list-header.html" as list %}

{% extends "templates/partials/base.html" %}

{% block og_title %}{% parent %} - Opportunities{% endblock %}
{% block og_image %}{{ cms.about.opportunities_background_image|imageCrop(1000,500) }}{% endblock %}

{% block tw_title %}{% parent %} - Opportunities{% endblock %}
{% block tw_image %}{{ cms.about.opportunities_background_image|imageCrop(1000,500) }}{% endblock %}

{% block title %}{% parent %} - {{ cms.about.name }}{% endblock %}

{% block content %}


{{ list.header('opportunities', "Opportunities", cms.opportunities.opportunities_background_image, cms.opportunities.opportunities_header_text, cms.opportunities.opportunities_introductory_text ) }}

<section id="opportunities" class="bg-light block">

  {{ o.opportunities("Jobs", cms.opportunities.jobs_introductory_text, cms.opportunities.no_open_opportunities_text, cms.opportunities.jobs, "bg-white" ) }}

</section>

<section id="opportunities-footer" class="padded bg-white block centered hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
      <h5 class="bold">
        Don't see a position that's right for you?
      </h5>
      </div>
       <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <p>
        Our research needs are constantly evolving and growing. Please email us (<a href="mailto:azomer@mit.edu">azomer@mit.edu</a>) with your resume and a brief introduction. We will be in touch with future opportunities.
      </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
