

.tooltip {
	position: fixed;
	top: 0; left: 0;
}

.project-label {
	padding: 5px 25px 18px 25px;
	background-color: rgba(255,255,255,.85);
	color:#222;
	text-decoration: none;
	border: 1px solid #444;

	h3{
		line-height: 1.2;
	}
}

.country {
  fill: #bbb;
  stroke-width:.5px;
  stroke: #bbb;
}

.map-project {
	fill: transparent;
	cursor: pointer;
}

.project-marker {
	fill: $brand !important;
}

#map {
	position: relative;
}

#map-instructions {
	position:absolute;
	right: 15px;
	top: 15px;
	width: 130px;
	text-align: right;
	font-size: 11px;
	line-height: 1;
}

#map-callout {
	position:absolute;
	top: 15px;
	left: 15px;

	p{
		font-size: 16px;
	}
}