

/********** @STRUCTURE *********/

body {
	box-sizing:border-box;
}

/********** @HEADER *********/

header {
	height: $nav-height;
}

/********** @NAV *********/


/********** @MENU *********/

menu {
	padding-left:10%;
	position: relative;
}

/********** @FOOTER *********/

/********** @FEATURE *********/

/********** @hrs *************/

hr {

	border-bottom:1px solid $medium;

	@extend .mb1;
	@extend .mt1;
	@extend .ml1;

	&.hr-light {
		border-bottom-color:$medium-light;
	}

	&.hr-dark {
		border-bottom-color:$medium-dark;
	}

	&.hr-brand {
		border-bottom:2px solid $brand;
	}
}



/********** @RESPONSIVE *********/

@media (min-width: 768px) {


	
}	

//lg
@media (min-width: 1201px) {



}

//md
@media (max-width: 1200px) {



}

//sm
@media (max-width: 992px) {



} 

//xs
@media (max-width: 767px) {



}
