

/********** @STRUCTURE *********/

html, body {
	box-sizing:border-box;
	width:100%;
	height:100%;
}

/** These styles fix a horizontal scrolling issue – but they suck */
.row {
	width:100%;
	@extend .mr0;
	@extend .ml0;

}

.row > div[class="col-"]:first-child, .row > div[class*="col-"]:first-child  {
	//border: 1px solid blue;
	padding-left: 0em;
}

.row > div[class="col-"]:last-child, .row > div[class*="col-"]:last-child  {
	//border: 1px solid red;
	padding-right: 0em;
}
/** This is the end of the bad hack fix styles. */


/********** @HEADER *********/

header {
	height: $nav-height;
	border-bottom:1px solid $light;
}


/********** @NAV *********/


/********** @MENU *********/


$open-skew: 0deg;
$closed-skew:-5deg;

$open-X: 2.5%;
$closed-X: -105%;

$transition-duration: .75s;

#overlay {

	//@include transition( all, $transition-duration );

	display:none;
	position: fixed;
	width:100%;
	height: 100%;
	opacity:.75;

	z-index:50;

	&.on {
		//opacity:0.75;
	}

	&.off {
		//display:none;
		//opacity:0.0;
	}
}



menu {
	position: absolute;
	width:95%;
	z-index:100;

	@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
	@include transition( transform, $transition-duration );

	&.closed {
		@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
		//@include animation( menu-close, 5s, both );
	}

	&.open {
		@include transform( skewX( $open-skew ) translateX( $open-X ) );
		//@include animation( menu-open, 5s, both);
	}
}

/********** @FOOTER *********/

/********** @FEATURE *********/

/********** @active ***********/

.active {
	@extend .bold;
}

nav > .active {
	@extend .brand;
}



/********** @hrs *************/

hr {

	border-bottom:1px solid $medium;

	@include transform(translate(-15px,0)); // -ish

	@extend .mb1;
	@extend .mt1;
	@extend .ml1;

	&.hr-light {
		border-bottom-color:$medium-light;
	}

	&.hr-dark {
		border-bottom:2px solid $medium-dark;
	}

	&.hr-brand {
		border-bottom:2px solid $brand;
	}
}

.project {
	//border-bottom: 1px solid $light;
}

/********** @RESPONSIVE *********/

@media (min-width: 768px) {


	
}	

//lg
@media (min-width: 1201px) {



}

//md
@media (max-width: 1200px) {



}

//sm
@media (max-width: 992px) {



} 

//xs
@media (max-width: 767px) {



}
