

/********** @STRUCTURE *********/

html, body {
	width:100%;
	height:100%;
}

@media ($xs-query) {
	*[class^="col-"] {
		margin-top: 0px;
		margin-bottom: 0px;

		padding-top: 15px;
		padding-bottom: 15px;
	}
}

#loading-background {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index:1000;
}

/********** @<a>s ***********/

a {

    border-bottom: 1px solid $dark;

    &.link {
        border-bottom:1px solid transparent;
    }

	&.active {
		@extend .bold;
	}

	&:hover {
		color: $brand;
        border-color: $brand;
	}

    &.link:hover {
        border-bottom:1px solid transparent;
    }

}

.sync {
	@extend .bold;
	color: $brand;
	border-bottom:2px solid transparent;
	display: inline-block;
	@include transition(all,.1s);

	&.active {
		border-bottom:2px solid $dark;
	}

	&:hover {
		@include transform( skewX($closed-skew));
		border-bottom:2px solid $brand;
		line-height: 1.5em;
	}

}

header a, footer a {
	color: $brand;

	&:hover {
		@extend .bold;
	}
}

header .sync, footer .sync {
	color: $dark;

	&:hover {
		color: $brand;
		@include transition(all, $transition-duration / 2);
	}
}

header .pictogram, footer .pictogram {
    color: $dark;
    text-decoration: none;

	&:hover {
		font-weight: normal;
	}
}

/********** @HEADER  *********/

header {
	padding:42px 0px 30px 0px;
	border-bottom:1px solid $medium-light;
	z-index:50;
	height: 100px;
	left: 0;
	width: 100%;
	top: -25%;
	@include transition(all,.25s);

	&.fixed {
		left: 0;
		width: 100%;
	}

}

#header-shadow{
	width: 100%;
	height: 100px;
}


/********** @LOGO *********/

#logo a{
	display: block;
	width: 140px;
}





/********** @MENU *********/

$open-X: 2.5%;
$closed-X: -200%;

.overlay {

	//@include transition( all, $transition-duration );

	display:none;
	position: fixed;
	width:100%;
	height: 100%;
	opacity:.75;
	top:0;
	left:0;

	z-index:100;

	&.on {
		//opacity:0.75;
	}

	&.off {
		//display:none;
		//opacity:0.0;
	}
}



menu, #search-box {
	position: fixed;
	padding:0px;
	width:95%;
	max-height:95%;
	z-index:150;

	overflow-x:hidden;

	@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
	@include transition( transform, $transition-duration );

	&.closed {
		@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
		//@include animation( menu-close, 5s, both );
	}

	&.open {
		position: fixed;
		@include transform( skewX( $open-skew ) translateX( $open-X ) );
		//@include animation( menu-open, 5s, both);
	}
}

#search-box {
    position: fixed;
	padding:0px;
    top:2.5vh;
	width:95vw;
	height:95vh;
	z-index:150;

	overflow-x:hidden;

    &.open {
        left:0%;
    }

}

/********** @SIDEBAR *********/

#sidebar, .sidebar {
	height:100%;
	@extend .mr0;
	@extend .ml0;
}


aside {
	cursor:ns-resize;

	overflow-x: hidden;
    overflow-y: scroll;

	//@extend .mt1;
	@extend .pl2;
	@extend .pr1;
	//@extend .bg-white;

	position: absolute;
	z-index: 25;

	width: 200px;

	//border:1px solid $medium-light;

	@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
	@include transition( transform, $transition-duration );

	&.open {
		left:30px;
		@include transform( skewX( $open-skew ) );
	}

	& .sidebar-heading {
		@extend .brand;
	}

	& .sidebar-item {
		font-size: .9em;
	}

	& .active {
		border-color: $brand !important;
	}

	@media ($sm-query) {
		width: 180px;

		&.open {
			left:20px;
		}
	}

	@media (max-width: $xs-size + 50px ) {
		&.open {
			left:10px;
		}
	}

}

.page-about {
    width:300px;
}

.sidebar-active-heading {
	@extend .brand;
	@extend .m1;
	display:inline-block;
	border-bottom: 2px solid $brand;
}

.sidebar-active-subheading {
	@extend .brand;
	@extend .m1;

	display:inline-block;
}

.sidebar-passive-heading {
 	@extend .dark;
	@extend .m1;

	display:inline-block;
	border-bottom: 2px solid $dark;
}

.sidebar-passive-subheading {
 	@extend .dark;
	@extend .m1;

	display:inline-block;
}

.sort-key {
	cursor: pointer;

	&.active {
		@extend .bold;
		@extend .brand;
		@include transition(font-weight, $transition-duration / 2);
	}
}

.sidebar-link{
	line-height: 1.1;
}


/********** @FOOTER *********/

#footer-logo a {
	display: block;

	padding-top:7px;
	width: 140px;

	&:hover {
		filter: none;
		filter: grayscale(0);
		-webkit-filter: grayscale(0);
	}
}

/********** @SUBSCRIBE ***********/

#subscribe-box {

	position: fixed;
	padding:0px;
	width:95%;
	max-height:95%;
	z-index:150;
	top:2.5%;
	left:0;

	overflow:scroll;

	@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
	@include transition( transform, $transition-duration );

	&.closed {
		@include transform( skewX( $closed-skew ) translateX( $closed-X ) );
	}

	&.open {
		position: fixed;
		@include transform( skewX( $open-skew ) translateX( $open-X ) );
	}

	input[type="text"], input[type="email"] {
		@extend .bg-white;
		display:block;
		border:0px;
		border-bottom:2px solid $brand;
	}

	.email {
		width:100%;

	}

}


/********** @FEATURE *********/

/********** @active ***********/

/********** about *************/

.about-callout {
    position: relative;
    top:-15%;
}

/********** @<hr>s *************/

hr {
	position: relative;
	top: -15px;

	border-bottom:1px solid $medium;

	&.hr-light {
		border-bottom-color:$medium-light;
	}

	&.hr-dark {
		border-bottom:2px solid $medium-dark;
	}

	&.hr-brand {
		border-bottom:2px solid $brand;
	}
}

.hr-light {
		border-bottom-color:$medium-light;
	}


/********** .image-overlay ********/

.image-overlay {
	position: absolute;
	top: 50px;
}

.related-image-block-container {
    position: relative;
}

.related-image-block {
    height:9vw;
    width: 100%;

    margin-top:.5em;
    border:1px solid $medium-dark;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/********** PROJECTS ********/


/********** PROJECTS ********/

.project-tile {

	&:hover {

		@include transition(all, $transition-duration / 2);

	}
}

.project-tint {
	position: relative;
	float: left;
	cursor: pointer;


	& figure:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: none;
		opacity: .5;
		@include transition(all, $transition-duration / 2);
	}

	&:hover figure:before {
		background: $brand;
	}
}


.project-tile-title {
	@extend h4;
	@extend .bold;
}

.project-tile-image, .news-tile-image {
	@include box-shadow( 0, 0, 1px, $dark);
}

.projects-rule {
	border-top:2px solid $brand;
}

/********** NEWS ********/

.header-image {
    z-index: -1;
}

.news-rule, .news-rule-xs {
	border-top:1px solid $medium-light;
}

.news-tile {


}

.relative-bottom {
    position: absolute;
    bottom: 6em;
}


/********** OUTPUT ********/

.output-link {
    @extend .bold;

    font-size: 1.2em;
    color:$brand;

    border-bottom:2px solid transparent;

}

.output-publish-date {
    text-align: right;
}

.cover-image {
    position: relative;
    text-align: center;

    background-color: white;

    &.no-image {
        border:1px solid $dark;
        min-height: 185px;
    }

    img {
        opacity:.75;
        border:2px solid $dark;
    }

    &:hover {
        background-color: $brand;
        border-color:$brand;

        img {
            border-color: $brand;
        }

        .cover-image-prompt {
            color:$brand;
        }

    }

    &.no-image:hover {
        background-color: white;
    }
}



.cover-image-prompt {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    color:$dark;
}



/********** SEARCH ********/

#search-trigger-button {
    position:relative;
    top:-0.25em;
    font-size: 1.5em;
    @include transition( all, .2s );

    &:hover {
        @extend .pictogram;
        top:-0.35em;
        font-size: 1.75em;
        color: $brand !important;
    }

}

#search-input {
	border:0px;
	border-bottom:2px solid $brand;
	height:100px;
}

.close-button {
	float:right;
	font-weight: bold;
}

.header-bar {
	border-bottom: 2px solid $dark;
}

.search-button {
    @extend .pictogram;

	border:0px;
	text-decoration: none;

	&:hover {
		border:0px;
		text-decoration: none;
		font-style: normal;
		font-weight: inherit;
	}
}

.search-gov-lab {
	color:darken($light,10);
}

.result-set {
	max-height: 67.5vh;
	overflow:scroll;
	cursor:ns-resize;

}

.search-result {
    @include transition( opacity, 2s );
    opacity: 1;

    &.invisible {
        opacity:0;
    }
}


/********** @TEAM-PAGES *********/

.bio-image {
    border:1px solid $dark;
}

.search-cover-image {
    max-height: 100px;
    border:1px solid $dark;
    overflow:hidden;
}



/********** @RESPONSIVE *********/

@media (min-width: 768px) {



}

//lg
@media ($lg-query) {
    .header-box {
        overflow-y: hidden;
    }
}

//md
@media ($md-query) {
    .header-box {
        overflow-y: hidden;
    }
}

//sm
@media ($sm-query) {
    .header-box {
        overflow-y: hidden;
    }
}

//xs
@media ($xs-query) {
    .header-box {
        overflow-y: visible;
    }

    .relative-bottom {
        position: absolute;
        bottom: 10em;
    }

    .p-min {
        padding: .25em;
    }


	 header {
	 	padding:15px 0px 12px 0px;
	 	height: 85px;
	 }

	 #header-shadow{
	 	height: 70px;
	 }

	 #logo{
	 	a{
	 		width: 110px;
	 	}
	 }

	 #map {
	 	cursor: auto;
	 }

	.menu-item{
		margin-top: 5px;
		position: relative;
		left: -15px;
	}


	.news-rule {
		border-top:none;
	}

	*[aside-enter] {
		padding-top: 0em !important;
	}

}

@media (min-width: $xs-size) {
    .relative-bottom {
        position: absolute;
        bottom: 10em;
    }

	*[aside-enter] {
		padding-top: 6em !important;
	}
}
